body{
	background-color: #f1f1f1;
	margin: 0px;
}

.sub-title{
	font-size: 45px;
	font-family: arial;
	font-weight: bolder;
}

.intro-patch{
	background-color: transparent;
	height: 439px;
	padding-top: 50px;
}

.enter-button{
	background-color: #2d2d2d;
	color: white;
	font-family: helvetica;
	float: left;
	padding: 15px 50px;
	font-size: 12px;
	letter-spacing: 1.5px;
	font-weight: 100;
}

.intro{
	font-family: arial;
	margin-top: 50px;
}

.intro-para{
	line-height: 20px;
	font-size: 14px;
	color: #555;
}

.title{
	margin-top: 50px;
	font-size: 24px;
	font-family: arial;
	margin-top: 200px;
	margin-bottom: 50px;
	/*font-weight: bold;*/
}

.modi-image{
	transform: scalex(-1);
	/*float: right;*/
	bottom:0px;
	right: 100px;
	position: absolute;
}

.viz-page{
	height: 100%;
	width: 100%;
	background-color: #f1f1f1;
	position: absolute;
	top: 0;
	z-index: -1;
}

.social-icons{
	position: absolute;
	top:20px;
	right: 30px;
}


.social-icons img{
	/*box-shadow: 2px 2px 2px grey;*/
	/*height: 40px;*/
	transition: 0.2s ease-in-out;
	cursor: pointer;
}


.social-icons img:hover{
	/*box-shadow: 2px 2px 2px grey;*/
	height: 40px;
	transition: 0.2s ease-in-out;
	cursor: pointer;
}


.left-side{
	padding-left: 100px !important;
}

.info-page{
	background-color: rgba(241, 241, 241, 0.88);
	height: 100vh;
}

.hint-text{
	font-size: 12px;
	color: #999;
	font-style: italic;
}

.withlove{
	position: absolute;
	bottom: 20px;
	font-size: 12px;
}

